body {
	background: #fdfdfd;
}

.color-grey {
	color: #aaa;
}

.header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	background: #fff;
}

.content {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  max-width: 840px;
}